.button {
    -fx-background-color: #cc0000;
    -fx-width:85px;
    -fx-height:85px;
    -fx-background:#fafafa;
    -fx-background-radius: 50%;
    -fx-font:bold 13px Arial;
    -fx-border-radius:50%;
    -fx-color:#555;
    -fx-border-color: black;
}

.button:hover{
    -fx-cursor:pointer;
    -fx-background-color: gold;
}
.button:active{
    -fx-position:relative;
    -fx-left:1px;
    -fx-top:1px;
}

.label {
    -fx-font-family: "Perpetua";
    -fx-opacity: 1.5;
}

